<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CheckCards</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CheckCards</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark show-loggedin admin" asp-area="" asp-controller="Admin" asp-action="Index">Admin Panel</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item float-right">
                            <a id="login" href="#" class="nav-link text-dark hide-loggedin" data-toggle="modal" data-target="#modalLogin">Log In</a>
                        </li>
                        <li class="nav-item float-right">
                            <a id="signout" href="#" class="nav-link text-dark show-loggedin">Sign Out</a>
                        </li>
                        <li class="nav-item">
                            <a id="register" asp-controller="Home" asp-action="Register" class="nav-link text-dark hide-loggedin">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - CheckCards - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <div class="modal fade" id="modalLogin">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Enter your credentials.
                    <span class="text-danger" id="loginStatus"></span>
                </div>
                <div class="modal-body">
                    <div id="loginUsernamePasswordContainer">
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" placeholder="Enter your username" id="loginUsername" />
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" placeholder="Enter your password" id="loginPassword" />
                            <button class="btn btn-link" id="login-forgotpassword" style="padding: inherit;">Forgot Password?</button>
                        </div>
                    </div>
                    <div class="form-group d-none" id="loginTwoFactorFormGroup">
                        <label for="TwoFactorValue">Enter the six digit code from your email:</label>
                        <input type="password" class="form-control" placeholder="Enter your code" id="loginTwoFactorValue" />
                    </div>
                    <div id="loginSpinner" class="spinner-border text-primary d-none"></div>
                    <button id="loginButton" type="submit" class="btn btn-primary">Log In</button>
                    <button class="d-none btn-primary btn" id="confirmTwoFactorButton" type="submit">Verify SMS Code</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalForgotPassword">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Enter your credentials.
                    <span class="text-danger" id="resetPasswordStatus"></span>
                </div>
                <div class="modal-body">
                    <div id="resetPasswordEmailNameContainer">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="text" class="form-control" placeholder="Enter your email" id="resetPasswordEmail" />
                        </div>
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" placeholder="Enter your username" id="resetPasswordUsername" />
                        </div>
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" placeholder="Enter your name" id="resetPasswordName" />
                        </div>
                    </div>
                    <div id="resetPasswordSpinner" class="spinner-border text-primary d-none"></div>
                    <button id="resetPasswordButton" type="submit" class="btn btn-primary">Reset Password</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalSetupSecurityQuestions">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Setup Security Questions.
                    <span class="text-danger" id="setupSecurityQuestionsStatus"></span>
                </div>
                <div class="modal-body">
                    <div id="setupSecurityQuestionsContainer">
                        <div class="form-group">
                            <label for="question1">What is your SSN?:</label>
                            <input type="text" class="form-control" placeholder="Enter your SSN#" id="answer1" />
                        </div>
                        <div class="form-group">
                            <label for="username">Interpret this image:</label>
                            <img src="~/imgs/ink.png" alt="Ink blob" class="img-fluid text-center" />
                            <input type="text" class="form-control" placeholder="What do you see in the picture" id="answer2" />
                        </div>
                    </div>
                    <div id="setupSecurityQuestionsSpinner" class="spinner-border text-primary d-none"></div>
                    <button id="setupSecurityQuestionsButton" type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
