@{
    ViewData["Title"] = "Admin Panel";
}

<h1>@ViewData["Title"]</h1>
<div class="text-danger" id="adminStatus"></div>
<small><i>please note: you can edit by double clicking on the element you want to edit (with limitations)</i></small>
<table class="table text-center">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">User Name</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Roles <br>User|Admin</th>
            <th scope="col">Reset Password</th>
            <th scope="col">Reset Questions</th>
            <th scope="col">Delete User</th>
            <th scope="col">Save Changes</th>
        </tr>
    </thead>
    <tbody id="usersTable">
        <tr id="userTemplate">
            <th scope="row" id="Number">0</th>
            <td id="Id"></td>
            <td id="UserName" contenteditable="true"></td>
            <td id="Name" contenteditable="true"></td>
            <td id="Email" contenteditable="true"></td>
            <td id="rolesContainer">
                <a id="roles" class="text-center form-group">
                    <input type="checkbox" id="User" name="user">
                    <input type="checkbox" id="Admin" name="admin">
                </a>
            </td>
            <td id="resetPasswordContainer">
                <a id="resetPassword" class="text-center savebtn">
                    <img src="~/imgs/resetpassword.png" class="img-fluid" style="width:25px;" alt="Reset Password Icon" />
                </a>
            </td>
            <td id="resetQuestionsContainer">
                <a id="resetQuestions" class="text-center savebtn">
                    <img src="~/imgs/questions-icon.png" class="img-fluid" style="width:25px;" alt="Reset Questions Icon" />
                </a>
            </td>
            <td id="deleteUserContainer">
                <a id="deleteUser" class="text-center savebtn">
                    <img src="~/imgs/delete.svg" class="img-fluid" style="width:25px;" alt="Delete User Icon" />
                </a>
            </td>
            <td id="saveChangesContainer">
                <a id="saveChanges" class="text-center savebtn">
                    <img src="~/imgs/save.svg" class="img-fluid" style="width:25px;" alt="Save Icon" />
                </a>
            </td>
        </tr>
    </tbody>
</table>

<div class="addUserContainer text-center justify-content-center">
    <a data-toggle="modal" data-target="#addUserModal" class="btn AddUser" style="border: none; cursor: pointer;">
        <img src="~/imgs/add.svg" style="width:45px;" alt="Add User Icon" />
    </a>
</div>


<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUserModalLabel">Create your own user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="addUserContainer">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" class="form-control" placeholder="Email" id="addUserEmail" />
                    </div>
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" placeholder="Username" id="addUserUsername" />
                    </div>
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" placeholder="Name" id="addUserName" />
                    </div>
                    <div class="form-group">
                        <label for="name">Password:</label>
                        <input type="password" class="form-control" placeholder="Password" id="addUserPassword" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="addUserSubmit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalLoadingScreen">
    <div class="modal-dialog" id="modalDocumentContainer" role="document">
        <div class="modal-content loadContainer">
            <div class="container-fluid loadContainer">
                <div class="spinner align-middle middle"></div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/admin.js"></script>
